<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="container">
        <h1>Buhlebenkosi Tumelo Bosman</h1>
        <div id="content">
            <h2><strong><u>Education</u></strong></h2>
            <ul>
            <p>I attended <b>SIR JOHN ADAMSON HIGH SCHOOL</b> where I completed my Grade 12 Certificate. In the year <b>2012.</b></p>
            <h2><b><u>SUBJECTS</u></b></h2> 
            <li>English: Home Language</li>
              <li>Afrikaans: First Additional Language</li>
                    <li>Life Science</li>
                    <li>Physical Science</li>
                    <li>Visual Art</li>
                    <li>Mathematics</li>
                </ul>
                <i class="fa fa-file" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;align-content: flex-end;"></i>
                <h2><b><u>Terciary Education</u></b></h2>
                <table>
                    <tr>
                         <th class="instcol">School</th>
                           <th class="course">Course Taken</th>
                                <th class="Year">Duration</th>
                    </tr>
                        <tr>
                            <td>Sci-bono Academy</td>
                                <td>IT essentails, A+, N+</td>
                                    <td>18 Months(2014-2015)</td> 
                        </tr> 
                        <tr>
                            <td>Isibani Graduates College</td>
                            <td>Microsoft Certified solutions Expert, OCA JAVA SE8</td>
                            <td>2years(2016-2018)</td> 
                       </tr>
                       <tr>
                           <td>Ekasi IT solutions</td>
                     <td>System Development(C#, R Language)</td>
                           <td>1years(2017-2018)</td> 
                            </tr>
                        <tr>
                            <td>Cornerstone Supreme</td>
                            <td>Contact Centre Operations</td>
                            <td>2months(2013)</td> 
                       </tr>
              </table>
              <h2><u>Qualifications</u></h2>
      <i class="fa fa-graduation-cap" style="font-size:60px;color:darkblue;text-shadow:2px 2px 4px #000000;"></i>
              <p>International Certificate in JAVA Proramming.</p>
              <p>System Development NQF Level 5(c# and R Language).</p>
              <p>Installing and Configuring Windows Server 2012.</p>
              <p>Administering Windows Server 2012.</p>
              <p>Implementing an Advanced Server Infrastructure 2012.</p>
              <hr>

              <h2><u>WORK EXPERIENCE</u></h2>
              <i class="fa fa-address-card" style="font-size:60px;color: lightblue;text-shadow:2px 2px 4px #000000;"></i>
                  <p><u><b>NAME OF COMPANY:</b></u></p>
                  <p>WOOLWORTHS</p>
                  <p><u><b>POSITION:</b></u></p>
                  <p>SALES CONSULTANT</p>
                  <p><u><b>PERIOD:</b></u></p>
                  <p>JUNE 2015 - JUNE 2016 (1 YEAR)</p>
        </div><!--content-->

    <div id="navigation">
            <img src="../assets/images/Propic.jpg" style= width:75% height="150px">
            <hr>
      
              <img src="../assets/images/Mail2.png"><p><u>buhletumibosman@gmail.com</u></p>
              <img src="../assets/images/Location.png"><p>8154a Mhlaza Street</p>
              <p>Pimville,Soweto</p>
              <p>1809</p>
              <img src="../assets/images/Mobile.png"><p>074 740 3501 / 074 650 5081</p>
              <img src="../assets/images/Facebook.png"><p>Buhlebenkosi Tumelo Bosman</p>
              <hr>
              <h2><u>Other Achievements</u></h2>
            <i class="fa fa-futbol-o" style="font-size:60px;color: darkblue;text-shadow:2px 2px 4px #000000;"></i>
            <p>COLOURS AWARD for outstanding Ability in Vollyball - 2012</p>
            <p>COLOURS AWARD for outstanding Ability in Touch Rugby - 2011,2012</p >
            <p>PROVINCIAL HONOURS for participating in a Provincial touch Rugby Tournament - 2011</p>
            <p>CERTIFICATE in recognition of exceptional service: Participated at the 2nd round Provincial Vollyball trails - 2012</p>
            <hr>
            <p><u><b>DUTIES:</b></u></p>
            <p>Hygiene, I ensured that the store is clean and ready.</p>
            <p>Request new stock of sizes we don't have instore.</p>
            <p>Sales consultant, helped customers on the sales floor.</p>
            <p>Till operator, after helping the floor i served by helping them pay for their items.</p>
    </div><!--navigation bar-->

    <div id="footer">
        This site was developed by Buhlebenkosi Tumelo Bosman.
        <i class="fa fa-facebook-square" style="font-size:60px;color: blue;text-shadow:2px 2px 4px #000000;margin-right:35px;"></i>
        <i class="fa fa-instagram" style="font-size:60px;color: pink;text-shadow:2px 2px 4px #000000;margin-right:35px;"></i>
        <i class="fa fa-slack" style="font-size:60px;color: purple;text-shadow:2px 2px 4px #000000;margin-right:35px;"></i>
    </div><!--footer-->

    </div><!--container-->
</body>