
<header>
<header class="home-header"></header>
  </header>
  <body>
      <div id="showcase">
          <h2>Welcome to the TwinTowers Hotel</h2>
          <p>We offer great quality service with luxary rooms that sure to leave an impression on you!</p>
            <p>We give you elligance wiht a Touch of africa!!</p>
          </div>
    <section id="boxes">
      <div class="container">
        <div class="box">
            <img src="../assets/images/Food.png">
          <h3> </h3>
          <p>Lovely Restaurants with plenty of African flavour!</p>
        </div>

        <div class="box">
            <img src="../assets/images/bed.png">
          <h3> </h3>
          <p>We offer top of the line beds with plenty of options to choose from!</p>
        </div>

        <div class="box">
            <img src="../assets/images/relax2.png">
          <h3> </h3>
          <p>We have a day spa and other fun, relaxing activities.</p>
        </div>
      </div>
      </section>
  </body>